.screen-style--background {
  position  :relative;
  height    : 400px;
  width     : 800px;
  background: #4C4B4B;
  border-radius: 30px;
}
.screen-style--display {
  position : relative;
  height   : 500px;
  width    : 1000px;
  background: #4C4B4B;
  border-radius: 30px;
}
.screen-style--set-custom {
  position : relative;
  height   : 500px;
  width    : 1000px;
  background: #4C4B4B;
  border-radius: 30px;
}

.content--background {
  padding      : 10px;  
  position     : absolute;
  top          : 50%;
  left         : 50%;
  height       : 354px;
  width        : 754px;
  background   : #f0efef;
  border-radius: 20px;
  transform    : translate(-50%, -50%);
}
.content--display {
  padding      : 10px;  
  position     : absolute;
  top          : 50%;
  left         : 50%;
  height       : 443px;
  width        : 942px;
  background   : #f0efef;
  border-radius: 30px;
  transform    : translate(-50%, -50%);
}
.content--set-custom {
  padding      : 10px;  
  position     : absolute;
  top          : 50%;
  left         : 50%;
  height       : 443px;
  width        : 942px;
  background   : #f0efef;
  border-radius: 30px;
  transform    : translate(-50%, -50%);
}