.sidebar {
  margin          : 30px 0px 0px 30px;
  width           : 120px;
  height          : 650px;
  background-color: #2B2B2B;
  border-radius   : 20px;
  opacity         : 0.8;
}

.sidebar ul {
  list-style : none;
  padding-top: 50px;
}

.sidebar ul li {  
  display        : flex;
  flex-direction : column;
  align-items    : center;
  height         : 100%;
  width          : 100%;
  color          :#FFFDFD;
  font-size      : 14px;
  font-weight    : 600;
  font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.sidebar ul li a {
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin          : 10px;
  height          : 77px;
  width           : 75px;
  color           : #0A4BFE;
  background-color: #C9E8FF;
  border          : 3px solid #0A4BFE ;
  border-radius   : 50%;
}

.sidebar ul li a:hover {
  color: #0A4BFE;
  background-color: #e3f2fd;
  transition:0.5s;
}

.list-active {
  color: #C9E8FF;
  background-color: #0A4BFE;
  transition: 0.45s;
}
