<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="controller0.css" />
    <title>Controller0</title>
  </head>
  <body>
    <h1>Controller0</h1>
    <button type="button" id="button0"></button>
    <button type="button" id="button1"></button>
    <button type="button" id="button2"></button>
    <button type="button" id="button3"></button>
    <button type="button" id="button4"></button>
    <script src="controller.js"></script>
  </body>
</html>
