* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html {
  font-size: 16px;
}

body {
  height     : 100%;
  width      : 100%;
  background : #f3f3f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width : 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #4f4e4e;
  border-radius   : 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius   : 100px;
}